<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<form action="/getRate" method="get">
 <input type="text" name="weight" id="weight"></input>
 
 <select name="mailOption" id="mailOption">
   <option value="1">stamped</option>
   <option value="2">metered</option>
   <option value="3">Large Envelope (Flat)</option>
   <option value="4">First Class Packages</option>
 </select>
 <input type="submit" value="Get Result">
 </form>




</body>
</html>
