<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
<h1>Calculating Postal Rates</h1>
<div>
<form action="/getRate" method="get">
 <input type="text" name="weight" id="weight"></input>
 
 <select name="mailOption" id="mailOption">
   <option value="1">stamped</option>
   <option value="2">metered</option>
   <option value="3">Large Envelope (Flat)</option>
   <option value="4">First Class Packages</option>
 </select>
 <input type="submit" value="Get Rate">
 </form>
 <div id='output'>output</div>
 <button onclick='fetchAnswer()'>Rate</button>

</div>


</body>
</html>
