<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
</head>
<body>
	<h1>Operation Result</h1>
	<p>Your <%= mail %> weighing <%= weight %> ounces will cost $<%= result %> to ship.</p>
</body>
</html>
